.main-analytics {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.main-analytics-right {
    margin-left: 32px;
}

.main-analytics-right-bottom {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}